<mat-card>
    <mat-card-title>Exclusão de Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="cliente.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereco" [value]="cliente.endereco" name="endereco" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data Nascimento" [value]="cliente.data_nascimento" name="data_nascimento"
                disabled>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="deleteCliente()" color="warn">
        Deletar
    </button>
    <button mat-raised-button (click)="cancel() ">
        Cancelar
    </button>
</mat-card>